.head{
    margin-top: 20px;
    color: #FFFFFF;
    font-family: Valo;
    font-size: 30px;
}

.des{
    margin-top: 5px;
    color: #FFFFFF;
    font-family: AlbertLight;
    font-size: 15px;
    width: 50%;
}